<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard Template · Bootstrap</title>

    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/jquery-3.5.1.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/validate.js}"></script>

    <link rel="canonical" th:href="@{/https://getbootstrap.com/docs/4.5/examples/dashboard/}">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
  </head>
  <body>
  <div th:replace="~{admin/common/public::topbar}"></div>

<div class="container-fluid">
  <div class="row">
    <div th:replace="admin/common/public::sidebar(activeUri='user.html')"></div>
    
  </div>
</div>
      <script th:src="@{/js/jquery-3.5.1.js}"></script>
      <script th:src="@{/js/bootstrap.bundle.js}"></script>
      <script th:src="@{/js/feather.min.js}"></script>
      <script th:src="@{/js/Chart.min.js}"></script>
      <script th:src="@{/js/dashboard.js}"></script>
  </body>
</html>
